<mat-card class="medium-list">
  <form #gardenForm="ngForm" (ngSubmit)="save(gardenForm.value)">
    <mat-card-header class="do-center">
      <mat-card-title><h2>{{garden.name ? 'Edytuj' : 'Dodaj'}} ogród</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="garden.href">
      <mat-form-field>
        <input matInput placeholder="Nazwa" [(ngModel)]="garden.name"
               required name="name" #name>
      </mat-form-field><br>
      <mat-form-field>
        <textarea matInput placeholder="Opis" [(ngModel)]="garden.description"
                  required name="description" #description></textarea><br>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit" class="mat-raised-button mat-primary"
              [disabled]="!gardenForm.form.valid" class="divider">Zapisz</button>
      <button mat-button type="submit" (click)="remove(garden.href)"
              *ngIf="garden.href" color="warn" class="divider">Usuń</button>
      <button mat-button routerLink="/garden-list" color="yellow" class="divider">Anuluj</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </form>
</mat-card>
