<mat-card class="medium-list" *ngIf="info.token; else loggedOut">
    <mat-card-header class="do-center">
      <mat-card-title><h2>Informacje o koncie</h2></mat-card-title>
    </mat-card-header>
    <p>
      <strong>Nazwa użytkownika:</strong> {{info.username}}<br/>
      <strong>Typ konta:</strong> {{info.authorities}}<br />
    </p>
    <button class="mat-raised-button mat-primary" (click)="logout()">Wyloguj</button>
</mat-card >
  <ng-template #loggedOut>
    <mat-card class="medium-list">
    <button mat-button routerLink="/login" class="divider">Zaloguj się</button>
</mat-card>
  </ng-template>

