<mat-card class="medium-list" *ngIf="info.token; else loggedOut">
    <mat-card-header class="do-center">
      <mat-card-title><h2>Witaj {{info.username}}!</h2></mat-card-title>
    </mat-card-header>
    <p>
      Roślinność to nieodzowny element życia ludzi. Bez tlenu, który wytwarzają rośliny, życie na Ziemi by nie istniało.
      W dobie bardzo dużego zużycia zasobów leśnych, m.in. wycinki lasów tropikalnych, ważne jest dbanie o możliwie jak najmniejszą degradację środowiska natu-ralnego.
      Każda, nawet najmniejsza roślina ma wpływ na natlenienie powietrza i redukcję dwu-tlenku węgla, dzięki czemu niweluje szkodliwy wpływ przemysłu na naturę.
      Czy to duży domowy ogród, czy kwiat na oknie, warto dbać o obecność roślin.
      Niestety każda roślinka wy-maga mniejszej lub więcej uwagi do życia.
      Należy dbać o nawodnienie, nasłonecznienie i ochronę przed bakteriami i wirusami.
      Tylko regularna opieka gwarantuje profity z posiadania domowego ogrodu – wizualne oraz zdrowotne.<br />
    </p>
  <img mat-card-image src="../../assets/home.jpg" alt=""><br>
    <button class="mat-raised-button mat-warn" (click)="logout()">Wyloguj</button>
</mat-card >
  <ng-template #loggedOut>
    <mat-card class="medium-list">
    <button mat-button routerLink="/login" class="divider">Zaloguj się</button>
      <p>
        Roślinność to nieodzowny element życia ludzi. Bez tlenu, który wytwarzają rośliny, życie na Ziemi by nie istniało.
        W dobie bardzo dużego zużycia zasobów leśnych, m.in. wycinki lasów tropikalnych, ważne jest dbanie o możliwie jak najmniejszą degradację środowiska natu-ralnego.
        Każda, nawet najmniejsza roślina ma wpływ na natlenienie powietrza i redukcję dwu-tlenku węgla, dzięki czemu niweluje szkodliwy wpływ przemysłu na naturę.
        Czy to duży domowy ogród, czy kwiat na oknie, warto dbać o obecność roślin.
        Niestety każda roślinka wy-maga mniejszej lub więcej uwagi do życia.
        Należy dbać o nawodnienie, nasłonecznienie i ochronę przed bakteriami i wirusami.
        Tylko regularna opieka gwarantuje profity z posiadania domowego ogrodu – wizualne oraz zdrowotne.<br />
      </p>
      <img mat-card-image src="../../assets/home.jpg" alt=""><br>
</mat-card>
  </ng-template>

