<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <mat-toolbar color="primary">
      <span><img src="./assets/logo.png" width="40" height="40"></span>
      <button mat-flat-button color="primary" [routerLink]="['/home']">Menadżer ogrodu</button>
      <button mat-flat-button color="primary" [routerLink]="['/about']">O programie</button>
      <button mat-flat-button color="secondary" [routerLink]="['/garden-list']">Moje ogrody</button>
    </mat-toolbar>
  </h1>
  <router-outlet></router-outlet>
  <h5> <span>Autor: Lukasz Broll</span></h5>
</div>



