<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <mat-card class="medium-list" *ngIf="isLoggedIn; else loggedOut">
  <mat-card-header class="do-center">
    <mat-card-title><h2>Witaj {{info.username}}!</h2></mat-card-title>
  </mat-card-header>
  <h4>Co u Ciebie słychać? Mamy nadzieję, że Twoje rośliny mają sie dobrze! <br/></h4>
  <p>
    Roślinność to nieodzowny element życia ludzi. Bez tlenu, który wytwarzają rośliny, życie na Ziemi by nie istniało.
    W dobie bardzo dużego zużycia zasobów leśnych, m.in. wycinki lasów tropikalnych, ważne jest dbanie o możliwie jak
    najmniejszą degradację środowiska naturalnego.
    Każda, nawet najmniejsza roślina ma wpływ na natlenienie powietrza i redukcję dwutlenku węgla, dzięki czemu niweluje
    szkodliwy wpływ przemysłu na naturę.
    Czy to duży domowy ogród, czy kwiat na oknie, warto dbać o obecność roślin.
    Niestety każda roślinka wymaga mniejszej lub więcej uwagi do życia.
    Należy dbać o nawodnienie, nasłonecznienie i ochronę przed bakteriami i wirusami.
    Tylko regularna opieka gwarantuje profity z posiadania domowego ogrodu – wizualne oraz zdrowotne.
  <h4>Dzięki Menadżerowi Ogrodu zawsze będziesz pamiętać o swoich roślinach! <br/></h4><br/>
</mat-card>
<ng-template #loggedOut>
  <mat-card class="medium-list">
    <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && onLoginSubmit()" novalidate>
      <mat-card-header class="do-center">
        <mat-card-title class="dashboard-card-content"><h2>Logowanie</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input name="username" autocomplete="username"
                 matInput
                 [(ngModel)]="user.username"
                 placeholder="Nazwa użtykownika" required/>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input name="password" autocomplete="current-password"
                 matInput
                 [(ngModel)]="user.password"
                 placeholder="Hasło"
                 [type]="hide ? 'password':'text'" required/>
          <mat-icon matSuffix (click)="hide = !hide">
            {{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button type="submit" color="warn"
                class="mat-raised-button mat-primary"
                [disabled]="!loginForm.valid">Zaloguj
        </button>
        <button mat-button routerLink="/register" class="divider" color="warn">Zarejestruj</button>
        <div *ngIf="loginForm.valid && isLoginFailed">
          <h3 class="do-center">Niepoprawna nazwa użytkownika lub hasło!</h3>
        </div>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </form>
  </mat-card>
</ng-template>
  </div>
</div>
